.clients {
    padding-bottom: 94px;
    padding-top: 94px;
}

.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.clients__icon {
    fill: var(--icon-color);

    @include transition(fill);
}

.clients__icon-bg {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    @include transition(border-color);
}

.clients__icon-bg:hover,
.clients__icon-bg:hover .clients__icon,
.clients__icon-bg:focus,
.clients__icon-bg:focus .clients__icon {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    cursor: pointer;
}

.clients__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}